nested-step-functions/Child.json
{
  "Comment": "The second step function identified as the child",
  "StartAt": "GetGender",
  "States": {
    "GetGender": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:AWS_ACCOUNT_NUM:function:nested-step-function-dev-getGender",
      "ResultPath": "$.gender",
      "Next": "DummyDelay"
    },
    "DummyDelay": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Done"
    },
    "Done": {
      "Type": "Pass",
      "ResultPath": "$.gender",
      "End": true
        }
  }
}