Parent.json
{
  "Comment": "The first step function identified as the parent",
  "StartAt": "PersonalData",
  "States": {
    "PersonalData": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:AWS_ACCOUNT_NUM:function:nested-step-function-dev-getPersonalData",
      "ResultPath": "$.personal_data",
      "Next": "PersonalDataHasDob"
    },
    "PersonalDataHasDob": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.personal_data.dob",
          "StringEquals": "",
          "Next": "Done"
        }
      ],
      "Default": "InvokeChild"
    },
    "InvokeChild": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:us-west-2:AWS_ACCOUNT_NUM:stateMachine:ChildStateMachineStepFunctionsStateMachine",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_INPUT.$": "$.personal_data"
        }
      },
      "Next": "Done"
    },
    "Done": {
      "Type": "Pass",
      "End": true
    }
  }
}